@import "tailwindcss";

/* class open buat animasi tombol */
#menu-btn.span span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
#menu-btn.span span:nth-child(2){
    opacity: 0;
}
#menu-btn.span span:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
}